<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HaiCPlan</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/HaiCPlan.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <h1>🗓️ HAICPLAN ✨</h1>
    <div class="emoji"> 💻 🎓 하은이와 함께 일정관리 편하게 해보자! 📚 💾</div>
    <div class="btn-group">
        <a class="button" href="{{ url_for('login') }}">로그인</a>
        <a class="button" href="{{ url_for('register') }}">회원가입</a>
    </div>
</body>
</html>
