<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>환영합니다 - HaiCPlan</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/HaiCPlan.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">

</head>

<body>
    <h1>🎉 {{ username }}님 환영합니다! 🎉</h1>
    <p>하은이와 함께 일정 수정하러 가보실까요? 😊</p>
    <a class="button" href="{{ url_for('submit') }}">일정 등록/수정하러 가기 ➡️</a>

    {% if session.role == 'admin' %}
    <a href="{{ url_for('admin_users') }}" class="neon-btn">관리자 대시보드 바로가기 ➡️</a>
    {% endif %}
    
</body>

</html>